*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body{
    font-size: 15px;
    font-family: "Manrope", sans-serif;
    
}
ul, li{
    list-style-type: none;
}
button{
    background-color: transparent;
}

.billing-toggle_input:focus-visible + .billing-toggle_slider {
    outline: 2px solid #293356;
    outline-offset: 3px;
}